deep-translator
flask
keras
keras-preprocessing
nltk
numpy
requests
setuptools
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-gpu==1.21.2
tensorflow-intel
tensorflow-io-gcs-filesystem
tqdm