deep-translator
flask
keras
keras-preprocessing
nltk
numpy
requests
Cython<3
ai-core-sdk[aicore-content]
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-gpu
tensorflow-intel
tensorflow-io-gcs-filesystem
tqdm