deep-translator
Flask
keras
Keras-Preprocessing
nltk
numpy
cython
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-gpu
tensorflow-intel
tensorflow-io-gcs-filesystem
tqdm